body{
margin: 0;
padding: 0;
}
.header{
background-image: url("https://scratch.com/assets/m-3-ec89d358626acd35bfaf0d0916bc6f9f.jpg");
height: 120vh;
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
position: relative;
}
.intro{
width: 100%;
text-align: center;
position: absolute;
margin-top: 50px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.intro h3{
margin: 0;
font-size: 0.83em;
}
.intro h1{
padding-top: 15px;
margin: 0;
font-weight: 900;
font-family: "brandon_grotesqueblack", sans-serif;
font-size: 90px;
letter-spacing: -7px;
color: #ffffff;
}
.logo{
  height: 35px;
  width: 185px;
}
span{
opacity: 0.5;
}
ul{
margin: 0;
padding: 0;
list-style-type: none;
}
.header li{
display: inline-block;
border: 4px solid #ffb122;
width: 300px;
height: 60px;
margin: 10px;
box-sizing: border-box;
}
.li1{
font-size: 20px;
font-family: "dinregular", Helvetica, Arial, sans-serif;
color: white;
padding:17px 0 16px 2px;
margin: -2px;
width: 294px;
text-align: center;
text-decoration: none;
display:block;
}
.li1:hover{
background-color: #ffb122;
}
.all-c{
text-align: center;
}
.c1 img{
width: 4%;
}
.c1 p{
color: red;
}
.c1{
display: inline;
float: left;
}
.main{
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.main1{
margin:30px;
}
.m1{
background-image: url("https://scratch.com/assets/circle-9f60a7fb3be6a36d2ed51b74a89ec173.svg");
background-repeat: no-repeat;
height: 85px;
width: 85px;
}
.m1 p{
color: white;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.p1{
font-family: 'dinregular';
font-weight: bold;
font-size: 12px;
color: #f1ff50;
}
.main{
margin-bottom: 30px;
}
.header hr{
width: 30%;
opacity: 0.5;
}
.linki{
margin: 0;
padding: 0;
}
.linki img{
margin: 10px;
opacity: 0.5;
}
.nav{
margin: 0;
overflow: hidden;
position: sticky;
top: 0;
padding: 0;
background-color: #000000;
}
.nav ul{
list-style: none;
margin-left: 100px;
margin-right: 100px;
}
.nav li{
float: right;
}
.logo1{
width: 125px;
padding:10px 0;
margin: 3px 0 0 0;
}
div.nav li a{
display: block;
text-align: center;
text-decoration: none;

}
.nav a:hover{
color: yellow;
}
.fa{
padding: 15px;
}
.fa1{
border-right: 1px solid #808080;
color: white;
}
.fa3{
color: white;
font-family: "dinregular",Helvetica,Arial,sans-serif;
}
.fa2{
color: #808080;
font-family: "dinregular",Helvetica,Arial,sans-serif;
}
.middle-container{
margin: 50px 100px ;

}
.middle-container h1{
  font-size: 42px;
      font-family: 'bebas_neue', sans-serif;
      color: #9b9b9b;
font-stretch: ultra-condensed;
letter-spacing: -2.5px;
margin: 0;
padding: 0;
}
.grid-container{
padding: 0;
margin: 50px 100px ;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 2fr))

}
.item1{
height: 250px;
width: 250px;
margin: 0;
position: relative;
}
.item5{
height: 250px;
width: 250px;
margin: 0;
position: relative;
}
.item2{
height: 500px;
width: 500px;
margin: 0;
position: relative;
}
.item4{
height: 250px;
width: 250px;
margin: 0;
position: relative;
}
.item3{
height: 250px;
width: 250px;
margin: 0;
position: relative;
}
.item7{
height: 250px;
width: 250px;
margin: 0;
position: relative;
}
.item3 img{
height: 200px;
}
.container {
height: 250px;
margin: 0;
padding: 0;
background-color: #000;
}
.container1 img{

}
.container1{
width:103%;
margin: 0;
padding: 0;
background-color: #000;
}

.container a{
margin: 0;
padding: 0;
height: 0;
width: 0;
}

.image {
opacity: 1;

margin: 0;
padding: 0;
}

.middle {
margin: 0;
padding: 0;
opacity: 1;
position: absolute;
bottom:0;
width: 100%;
}
.middle-m {
margin: 0;
padding: 0;
opacity: 1;
position: absolute;
bottom:0;
width: 102%;
border: 1px solid grey;
}
.middle-m1 {
width: 95%;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .p2{
text-decoration: underline;
color: black;
}
.container:hover .p11{
color: black;
}
.container:hover .text{
background-color:yellow;
}
.container:hover .middle {
  opacity: 1;
}
.container1:hover .image {
  opacity: 0.3;
}
.container1:hover .p2{
text-decoration: underline;
color: black;
}
.container1:hover .p11{
color: black;
}
.container1:hover .text{
background-color:yellow;
}
.container1:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgb(74, 74, 74);
  color: white;

font-stretch: ultra-condensed;
}
.p2{
color: yellow;
text-decoration: none;
font-family: 'bn_reg', sans-serif;
font-size: 13px;
word-spacing: .5px;
letter-spacing: -.1px;
margin: 0;
padding: 15px 10px 5px;
}
.p11{
color: white;
text-decoration: none;
font-family: 'bn_reg', sans-serif;
font-size: 13px;
letter-spacing: 1px;
margin: 0;
padding: 5px 10px 15px;
}
.p12{
color: white;
width: 100%;
text-decoration: none;
font-family: 'bn_reg', sans-serif;
font-size: 15px;
letter-spacing: 1px;
margin: 0;
padding: 5px 10px 15px;
}
.item2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:4;
}
